<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Edificio</key>
		<string>W 501</string>
		<key>Nombre</key>
		<string>101</string>
		<key>Disponibles</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>102</string>
		<key>estado</key>
		<string>ocupada</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>103</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>104</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>201</string>
		<key>estado</key>
		<string>ocupada</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>202</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>203</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>204</string>
		<key>estado</key>
		<string>ocupada</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>301</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Mario Laserna</string>
		<key>nombre</key>
		<string>402</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Santo Domingo</string>
		<key>nombre</key>
		<string>501</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Santo Domingo</string>
		<key>nombre</key>
		<string>502</string>
		<key>estado</key>
		<string>libre</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>Santo Domingo</string>
		<key>nombre</key>
		<string>601</string>
		<key>estado</key>
		<string>ocupada</string>
	</dict>
	<dict>
		<key>Edificio</key>
		<string>modern</string>
		<key>nombre</key>
		<string>May the Force be with you.</string>
		<key>estado</key>
		<string>Star wars</string>
	</dict>
</array>
</plist>
